<h2><%= @user.username %> Profile</h2>

<h3>New Comment</h3>

<h4><%= @user.username %> Goals: </h4>
<ul>
    <% @user.intention.each do |intent| %>
        <% if current_user.username != intent.user.username %>
            <% if intent.status == "public" %>
                <li><%= link_to intent.name, intention_path(intent.id) %></li>
                <p font-family="sans-serif"><%= intent.status %></p>
                <p font-family="sans-serif"><%= intent.completed %></p>
            <% end %>
        <% else %>
            <li><%= link_to intent.name, intention_path(intent.id) %></li>
            <p font-family="sans-serif"><%= intent.status %></p>
            <p font-family="sans-serif"><%= intent.completed %></p>
        <% end %>
    <% end %>
</ul>